@import '~antd/dist/antd.css';
/**
* CodeMirror assets imports
*/
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';

* {
  box-sizing: border-box;
}

html,
body,
.app,
.app > .ant-layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// Temp fix
.ant-drawer-close {
  background: #fff;
  height: 53px;
  width: 53px;
}

.CodeMirror {
  width: 100%;
  height: 100%;
}
